<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="s6finalEntities" connectionString="metadata=res://*/CustDataModel1.csdl|res://*/CustDataModel1.ssdl|res://*/CustDataModel1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=FARHAN\SQLEXPRESS;initial catalog=s6final;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="s6finalEntities1" connectionString="metadata=res://*/CustModel1.csdl|res://*/CustModel1.ssdl|res://*/CustModel1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=FARHAN\SQLEXPRESS;initial catalog=s6final;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="s6finalEntities2" connectionString="metadata=res://*/CModel1.csdl|res://*/CModel1.ssdl|res://*/CModel1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=FARHAN\SQLEXPRESS;initial catalog=s6final;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>